* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.flex-container {
    display: flex;
    background-color: #f4f4f4;
    /* Always is on the main axis */
    /* justify-content: end; */
    /* Always on the cross axis */
    /* align-items: start; */
    flex-wrap: wrap;
}

.item {
   width: 100px;
   height: 100px;
   background: #254de4;
   color: #fff;
   margin: 10px;

   display: flex;
   justify-content: center;
   align-items: center;
}