* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.flex-container {
    height: 400px;
    display: flex;
    background-color: #f4f4f4;
    justify-content: space-between;
    align-items: center;
}

.item {
   width: 100px;
   height: 100px;
   background: #254de4;
   color: #fff;
   margin: 10px;

   display: flex;
   justify-content: center;
   align-items: center;
}